[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zshmarks"]
	path = zshmarks
	url = https://github.com/jocelynmallon/zshmarks.git
[submodule "autoenv"]
	path = autoenv
	url = https://github.com/horosgrisa/autoenv.git
